body {
    background-color: #EBEEEF;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

hr {
    border-top: 1px solid #BFC8CB;
}

#preferences {
    transition: opacity 400ms ease-in-out;
    width: 200px;
    height: 200px;
    border: #BFC8CB 1px solid;
    position: absolute;
    right: 15px;
    background-color: #f4f4f4;
    z-index: 1000;
    padding: 10px;
    opacity: 0;
}

#preferences.visible {
    opacity: 1;
}

#cog a {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #aaa;
    z-index: 1001;
}

#mainContainer {
    padding-top: 75px;
    width: 570px;
    margin: 0 auto;
}

#mainContainer.full {
    width: 1000px;
}

#header {
    font-weight: normal;
    color: #37515e;
    font-size: 1.7em;
    margin-bottom: 12px;
}

#todos ul {
    margin: 0;
    padding: 0;
}

#todoList, .todo-sleek, .todo-full {
    list-style: none;
    padding: 0;
}

.todo-sleek {
    margin-top: -1px;
}

.todo-full {
    margin: 0;
}

.ul-full {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

li.odd, li.even {
    width: calc(100%/2);
    display: inline-block;
}

li.even {
    margin-top: -1px;
}

.todoContent {
    border: #c8c8c8 1px solid;
    background-color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1em;
    position: relative;
}

.todo-checkmark {
    position: absolute;
    right: 8px;
    top: 5px;
    font-size: 1.5em;
    color: #2FB15C;
}

.todo-sleek.finished .todo-checkmark,
.todo-full.finished .todo-checkmark {
    color: #CAD1D5;
}

.finished {
    color: #CAD1D5;
}

#todoForm {
    margin-top: 20px;
    position: relative;
}

#todoContent {
    background-color: transparent;
    border: none;
    font-size: 1.7em;
    font-weight: normal;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

::-webkit-input-placeholder {
    color: #37515e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
:-moz-placeholder {
    color: #37515e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
::-moz-placeholder {
    color: #37515e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
:-ms-input-placeholder {
    color: #37515e;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

#todoContent:focus {
  outline: none;
}

#addTodoButton {
    font-size: 2.3em;
    position: absolute;
    right: 3px;
    top: -3px;
    color: #9e2ccd;
}

#topHeadSection > div {
    position: relative;
}

#markAllFinishedButton {
    color: #2FB15C;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: -30px;
}

#clearAllFinishedButton {
    font-size: .8em;
    color: #fff;
    text-decoration: none;
    background-color: #c00000;
    padding: 5px;
    width: 190px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
}

.separator {
    padding: 10px 0;
}